.Test--MainPageWhatToCook {
  max-width: var(--seciton-width);
  margin: 0 auto;

  &-Title {
    margin-bottom: var(--space-3xl);
  }

  &-InputLabel {
    margin-bottom: var(--space-xs);
  }

  &-InputWrapper {
    width: 400px;
    margin-bottom: var(--space-m);
  }

  &-Switch {
    margin-bottom: var(--space-2xl);
  }
}
