.Test--MainPageMenu {
  max-width: var(--seciton-width);
  margin: 0 auto var(--seciton-spase) auto;

  &-Title {
    margin-bottom: var(--space-2xl);
  }

  &-SubTitle {
    margin-bottom: var(--space-xl);
  }

  &-Attach {
    max-width: 400px;
  }
}
