.Test--MainPageOrderTable {
  &-Title {
    margin-bottom: var(--space-2xl);
    max-width: var(--section-width);
    margin: 0 auto var(--section-spase) auto;
  }

  &-InputLabel {
    margin-bottom: var(--space-xs);
  }

  &-Board {
    position: relative;
    max-width: calc(var(--section-width) + 300px);
    margin: 0 auto var(--section-spase) auto;
  }

  &-TableWrapper {
    background: var(--color-bg-default);
    box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.07),
      0px 26.6462px 29.2013px rgba(0, 0, 0, 0.05),
      0px 10px 14.1767px rgba(0, 0, 0, 0.05),
      0px 2.34px 6.94968px rgba(0, 0, 0, 0.05),
      0px 0px 2.74791px rgba(0, 0, 0, 0.04);
    border-radius: var(--control-radius);
    overflow: hidden;
    min-height: 200px;
  }

  &-ButtonWrapper {
    display: flex;
    padding: var(--space-l);
    flex-direction: row-reverse;
  }

  &-Image {
    display: none;
    @media (min-width: 1020px) {
      display: block;
      position: absolute;
      width: 100px;
      left: -62px;
      bottom: 0px;
    }
  }
}
