.Test--MainPagePreciseSelection {
  position: relative;
  max-width: var(--section-width);
  margin: 0 auto;

  &-InputLabel {
    margin-bottom: var(--space-xs);
  }

  &-Form {
    margin-bottom: var(--space-m);
    @media (min-width: 650px) {
      display: flex;
    }
  }

  &-InputWrapper {
    max-width: 400px;
    height: var(--control-height-l);
    margin-bottom: var(--space-m);
    @media (min-width: 650px) {
      width: 400px;
      flex: none;
      margin-right: var(--space-m);
      margin-bottom: 0;
    }
  }

  &-Badge {
    margin-right: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  &-BadgesWrapper {
    margin-bottom: calc(var(--space-2xl) - var(--space-s));
  }
}
